body{
    font-family: arial;
    margin: 0;
    padding: 0;

}
h2{
    font-size: 50px;
    text-align: 0 3px 4px rgba(0,0,0,0.5);
}
#intro{
    background: url(../img/01.jpg) 50% 0 fixed;
    /*url  >imagen -posic X posic Y fija*/
    background-size: cover;
    /*redimensionar la imagen para cubrir el area*/
    min-width: 900px;/*min cubra 900px*/
    margin: 0 auto;
    width: 100%;
}
#bloque-img2{
    background: url(../img/02.jpg) 50% 0 fixed;
    background-size: cover;
    height: 600px;
}
#bloque-img3{
    background: url(../img/03.jpg) 50% 0 fixed;
    background-size: cover;
    height: 600px;
}
#bloque-img4{
    background: url(../img/04.jpg) 50% 0 fixed;
    background-size: cover;
    height: 600px;
}
.texto{
    color: #ddd;
    padding: 60px;
    text-align: center;
}

.bloque{
    background-color: black;
    margin: 0 auto;
}