.cuadrado{
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.rojo{
    background-color: red;
}
.azul{
    background-color: blue;
}
.verde{
    background-color: green;
}

.contenedor{
    display: flex;
}