#contenedor{
    background-color: lightgray;
    width: 80%;
    margin: 0 auto;
}

.verde{
    background-color: lightgreen;
    width: 70%;
    margin: 0 auto;
    height: 200px;
    margin-bottom: 20px;
}
.celeste{
    background-color: lightblue;
    width: 70%;
    margin: 0 auto;
    height: 200px;
    margin-bottom: 20px;
}
.amarillo{
    background-color: lemonchiffon;
    width: 70%;
    margin: 0 auto;
    height: 200px;
    margin-bottom: 20px;
}
