body{
    background-color: #332f29;
}

.contenedor{
    max-width: 960px;
    margin: 0 auto;
    background-color: aquamarine;
}

header{
    background-color: #8fa68e;
    padding: 20px;
}

.holder{
    display: flex;
}
nav{
    background-color: #c0392b;
    width: 30%;
}

nav ul li{
    list-style: none;
    padding: 10px;
}

nav ul li a{
    color: white;
    text-decoration:none ;
    font-size: 20px;
}

main{
    width: 40%;
    background-color: #f7dc6f;
    padding: 0 10px;
}

aside{
    background-color: #1abc9c;
    width: 30%;
    padding: 0 10px;
}

footer{
    background-color: #ccc59e;
    text-align: center;
}

@media screen and (max-width:480px){
    header{
        text-align: center;
    }

.holder{
    flex-wrap: wrap;
}

nav{
    width: 100%;
}

nav ul{
    display: flex;
    background-color: #c0392b;
    justify-content: space-between;
    margin:0;
    padding: 0;
}

main{
    width: 100%;
    border-bottom: 2px solid black;
}
/*preguntar lo de las pantallas y como se ven xq no las encuentro*/
aside{
    width: 100%;
    /*border-botton: 2px solid black*/
    display: none;
}
}

/*fin de @media 480*/